<div class="contback container">
  
  <div class="row">
  	<h2 class="">Serigrafia</h2>
  </div>
  
  <div class="row">
    <div>
      <div class="">        
        <ul style="list-style:none;">
          <li style="text-decoration: underline;float: left;padding-right:15px;">Impresion trasera</li>
          <li style="float: left;padding-right:15px;">Mangas</li>
          <li>Etiqueta</li>
        </ul>
      </div>
    </div>
  </div>  
  
  <div class="row">
  	<div>
      <h4>Areas de impresion agregadas para tu cotización</h4>
    </div>

    <div style="margin:10px;">        
      <input type="checkbox">
      Frontal
      <input type="checkbox">
      Trasera
    </div>    
    
  </div>
  
  <div class="row">
    <div class="col-sm-5">
    	<img src="https://cdn.shopify.com/s/files/1/0277/3925/8982/products/C0200-playera-cr-mc-caballero-100algodon-blanco_1.jpg?v=1623867315" alt="" width="600" >
    </div>
  	<div class="col-sm-2">
        <div>
          <label class="" style="width:100%;text-align: center;">Colores de prenda</label>
          <img style="width:100%;text-align: center;" src="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1585727413/content-items/003/999/516/Colordrop-original.png?1585727413" alt="" width="180" >
      	  <label class="" style="width:100%;text-align: center;">Blanco</label>  
      </div>
        
        <div>
          <label class="" style="width:100%;text-align: center;">Posicion de estampado</label>
          <select name="select" style="width:100%;text-align: center;">
            <option value="value1">Frente</option>
            <option value="value2" selected>Frente izquierdo</option>
          </select>
          <label class="" style="width:100%;text-align: center;">Número de colores</label>
          <select name="select" style="width:100%;text-align: center;">
            <option value="value1">1 tinta</option>
            <option value="value2" selected>2 tintas</option>
          </select>
          <label class="" style="width:100%;text-align: center;">Efectos especiales</label>
          <select name="select" style="width:100%;text-align: center;">
            <option value="value1">1 tinta hight density</option>
            <option value="value2" selected>2 tinta hight density</option>
          </select>
          <label class="" style="width:100%;text-align: center;">Cantidad</label>
          <input type="number" placeholder="10" id="tentacles" name="tentacles" min="6" max="5000" style="text-align: center; ">
        </div>
        
        <div>
          <label style="width:100%;text-align: center;margin-bottom:10px;">Precio TOTAL</label>
          <label style="width:100%;text-align: center;margin-bottom:10px;font-weight:bold;font-size:1.5em;">$500.00</label>
          <label style="width:100%;text-align: center;margin-bottom:10px;">IVA incluido</label>
        </div>
        
        <div>
          <button class="btn pull-right" type="submit" style="width:100%;text-align: center;margin-bottom:10px;">Agregar área de impresion</button>
          <button class="btn pull-right" type="submit" style="width:100%;text-align: center;">Añadir al carrito</button>
        </div>
        
  	</div>
  </div>  
</div>